@model PhamTrongTruong_5951071113.Models.TaiKhoan

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Font Icon -->
    <link href="~/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <link href="~/assets/css/style.css" rel="stylesheet" />

</head>
<body>

    <section class="sign-in" style="margin-top:20px">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure>
                        <img src="~/assets/img/signin-image.jpg" />
                    </figure>
                    <a href="#" class="signup-image-link">Tạo Tài Khoản</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Đăng Nhập</h2>
                    @using (Html.BeginForm("Login", "Login"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            @Html.EditorFor(model => model.MaTK, new { htmlAttributes = new { name = "your_name", placeholder = "Your Name" } })
                            @Html.ValidationMessageFor(model => model.MaTK, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { type = "password", name = "your_pass", placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })

                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        </div>
                    }
                    <div class="social-login">

                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../assets/js/core/jquery.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
